@use '../abstracts/modules/generator';
@use '../abstracts/modules/math';

:root {
	@include generator.all((
			'colors' : (
					'src' : ('neutral' : (hsl(0, 0%, 90%))),
					'tints' : (100%),
					'shades' : (30%, 60%, 100%),
			),
			'font-types' : (
					'base' : 0.625rem,
					'ratio' : 1.250,
					'length' : 5,
					'preserve' : 4,
					'break-at' : 'min',
					'breakpoints' : (
							'48em' : (
									'base' : 0.825rem,
							),
					),
			),
			'utilities' : (
					'src' : (
							generator.$font-weights,
							generator.$line-heights,
							generator.$measures,
							generator.$text-align,
							generator.$align-content,
							generator.$justify-content,
							generator.$align-items,
							generator.$justify-items,
							generator.$align-self,
							generator.$justify-self,
							generator.$directions,
							generator.$displays,
					)
			))
	);
	--ff-primary    : 'DM Sans', sans-serif;
	--ff-body       : var(--ff-primary);
	--ff-heading    : var(--ff-primary);

	--body-space    : #{math.clamped($body-min-space, $body-max-space, $width-sm, $width-xl)};
	--body-size     : min(100% - var(--body-space) * 2, 69.375rem);
	--body-max-size : min(100%, 128rem);
}

:where([class*='align'], [class*='direction'], [class*='justify']) {
	display : grid;
}

.sr-only {
	position    : absolute;
	overflow    : hidden;
	margin      : -1px;
	padding     : 0;
	width       : 1px;
	height      : 1px;
	white-space : nowrap;
	clip        : rect(0, 0, 0, 0);
	border      : 0;
}

.text-uppercase {
	text-transform : uppercase;
}

.image-darker {
	position       : relative;
	pointer-events : none;

	&::before {
		content          : '';
		position         : absolute;
		inset            : 0;
		z-index          : 2;
		background-image : linear-gradient(0deg, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0));
	}
}