
.card-story {
	max-height : 31rem;

	&__content {
		padding : $body-min-space;
	}

	picture {
		max-block-size : inherit;
	}
}

.card-plan {
	container-type : inline-size;
	padding        : $body-min-space;

	&__container {
		display         : grid;

	@container (width <= 26rem) {
		text-align      : center;
		justify-content : center;
	}
	}

	&__content {
	@container (width > 26rem) {
		display               : grid;
		grid-template-columns : 1fr max-content;
	}
	}

	.btn {
	@container (width > 26rem) {
		max-inline-size : 14rem;
	}
	}
}