
.cover {
	@media (width <= $width-md) {
		display : block !important;
	}

	&__content {
		padding    : $body-min-space;
		block-size : inherit;

		@media (width > $width-md) {
			max-inline-size : 37.5rem;
			min-inline-size : 30rem;
		}
	}
}